<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Posts</h1>
  <a href="#" routerLink="/news/new" mat-raised-button style="margin-right: 10px">Add post</a>
</div>

<div class="main-div">
  <div fxLayout="column" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let news of allNews"
    >
      <mat-card class="example-card" style="border: 2px solid gray; max-width: 1000px; padding: 5px 0 5px; margin-left: 10px;">
        <mat-card-content>
          <div fxLayout="row" fxLayoutGap="5px grid">
          <div fxLayout="row" fxLayoutGap="5px grid">
            <img
              [src]="news.image | image"
              [alt]="'Photo of' + news.title"
              mat-card-image
              style="max-height: 100px; margin-left: 25px; margin-top: 15px;"
            />
          </div>
            <div fxLayout="column" fxLayoutGap="15px grid">
              <div class="container" style="margin-left: 50px; margin-top: 35px">
              <h1 style="margin: 0">{{ news.title }}</h1>
                <div fxLayout="row" fxLayoutGap="5px grid">
                  <p style="color: darkgray; font-weight: 500;">At {{ news.date }}</p>
                  <p><a [routerLink]="['/news', news.id]">Read Full Post >></a></p>
                  <p style="margin-left: 10px"><a href (click)="onRemove(news.id)">Delete</a></p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
