<div class="container" style="margin-left: 15px">
<h2>{{ news.title }}</h2>
<p style="color: darkgray; font-weight: 500;">{{ news.date }}</p>
<p>{{ news.content }}</p>
<h2>Comments</h2>
<p></p>
<h2>Add comment</h2>
<mat-card style="margin: 0">
  <mat-card-content>
    <form #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input name="name" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea
          name="comment"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
        >Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
