<div style="margin-left: 15px">
<h2>Add new post</h2>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="createNews()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" matInput required ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea
          name="content"
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >Add</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
